{% extends "base.html" %}

{% load static %}

{% block title %}
  Change Password
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/login.css' %}" />
{% endblock css_files %}

{% block content %}
  <div class="container content-container d-flex justify-content-center align-items-center">
    <div class="col-10 p-4 align-content-center account-container">
      {% if form.errors %}
        <div class="alert alert-danger p-2 z-2 d-flex justify-content-end message-container">
          {% for field, error in form.errors.items %}{{ error }}{% endfor %}
        </div>
      {% endif %}
      <div class="container z-1">
        <div class="row">
          <div class="col-6 my-4 login-form" id="change-password">
            <h5 class="mb-4">
              <strong>Change Password</strong>
            </h5>
            <form method="post">
              {% csrf_token %}
              <div class="mb-4">
                <label for="exampleInputPassword0" class="form-label">Current Password</label>
                <div>{{ form.old_password }}</div>
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <div>{{ form.new_password1 }}</div>
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword2" class="form-label">
                  Confirm New Password
                </label>
                <div>{{ form.new_password2 }}</div>
              </div>
              <button type="submit" class="btn btn-primary account-btn">
                Change Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
