{% extends "base.html" %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="mr-3 p-4 col-md-8">
            <div class="col-md mt-4 login-form" id="registration">
                <h5 class="mb-4"><strong>Register</strong></h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}