{% extends "base.html" %}

{% load static %}

{% block title %}
  Reset Password
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/login.css' %}" />
{% endblock css_files %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="mr-3 p-4 col-md-12">
        <div class="col-md mt-4 login-form">
          <h5>
            <strong>Set New Password</strong>
          </h5>
          <form class="mt-4" method="post">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            <button type="submit" class="btn btn-primary">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
