{% extends "base.html" %}

{% load static %}

{% block title %}
  Reset Password
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/login.css' %}" />
{% endblock css_files %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="mr-3 p-4 col-md-12">
        {% if messages %}
          <div class="alert alert-success alert-dismissible">
            {% for message in messages %}{{ message }}{% endfor %}
          </div>
        {% endif %}
        {% if form.errors %}
          <div class="alert alert-danger alert-dismissible">
            {% for field, error in form.errors.items %}{{ error }}{% endfor %}
          </div>
        {% endif %}
        <div class="col-md mt-4 login-form" id="login">
          <h5>
            <strong>Reset Password</strong>
          </h5>
          <p class="mt-4">
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
          </p>
          <form method="post">
            {% csrf_token %}
            <div class="mt-4 mb-4">
              <label for="exampleInputEmail" class="form-label">Email Address</label>
              {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
