{% extends "base.html" %}

{% load static %}

{% block title %}
  Instrument Detail
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "instruments/css/index.css" %}" />
  <link rel="stylesheet" href="{% static "instruments/css/detail.css" %}" />
{% endblock css_files %}

{% block content %}
  <div class="instrument-detail">
    <div class="detail-header">
      <h2>
        {% for instrumentname in instrument_names %}
          {% if instrumentname.language.en_label == active_language.en_label %}
            {{ instrumentname.name|title }}
          {% endif %}
        {% endfor %}
      </h2>
      <hr />
    </div>
    <div class="detail-body">
      <div class="instrument-forms">
        <table class="table table-sm table-striped table-bordered">
          <tbody>
            <tr>
              <th scope="row">Instrument Names in Different Languages</th>
              <td>
                <table class="table table-sm table-striped table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">
                        <span class="name-form-item">Language</span>
                      </th>
                      <th scope="col">
                        <span class="name-form-item">Name</span>
                      </th>
                      <th scope="col">
                        <span class="name-form-item">Source</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for instrumentname in instrument_names %}
                      <tr>
                        <td>
                          <div class="name-form-item">
                            <div class="name-field">
                              <span class="view-field">{{ instrumentname.language.en_label }}</span>
                              <input class="edit-field"
                                     type="text"
                                     value="{{ instrumentname.language.en_label }}" />
                            </div>
                            {% if user.is_authenticated %}
                              <div class="button-group">
                                <button class="btn edit">Edit</button>
                                <button class="btn cancel">Cancel</button>
                                <button class="btn publish">Publish</button>
                              </div>
                            {% endif %}
                          </div>
                        </td>
                        <td>
                          <div class="name-form-item">
                            <div class="name-field">
                              <span class="view-field">{{ instrumentname.name }}</span>
                              <input class="edit-field" type="text" value="{{ instrumentname.name }}" />
                            </div>
                            {% if user.is_authenticated %}
                              <div class="button-group">
                                <button class="btn edit">Edit</button>
                                <button class="btn cancel">Cancel</button>
                                <button class="btn publish">Publish</button>
                              </div>
                            {% endif %}
                          </div>
                        </td>
                        <td>
                          <div class="name-form-item">
                            <div class="name-field">
                              <span class="view-field">{{ instrumentname.source_name }}</span>
                              <input class="edit-field"
                                     type="text"
                                     value="{{ instrumentname.source_name }}" />
                            </div>
                            {% if user.is_authenticated %}
                              <div class="button-group">
                                <button class="btn edit">Edit</button>
                                <button class="btn cancel">Cancel</button>
                                <button class="btn publish">Publish</button>
                              </div>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="image-header">
                  <span>Image</span>
                  {% if user.is_authenticated %}
                    <button type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#uploadImageModal">
                      Upload New Images
                    </button>
                    {% include "instruments/includes/imageUploadModal.html" %}

                  {% endif %}
                </div>
              </th>
              <td>
                <div class="name-form-item">
                  <div class="detail-image">
                    <div class="image-container">
                      <img src="{{ instrument.default_image.url }}"
                           alt="{{ instrument.default_image.url }}"
                           class="img-fluid border instrument-image" />
                      <div class="detail-image-caption">
                        <a href="{{ instrument.default_image.url }}" target="_blank">View image in full size</a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Wikidata ID</th>
              <td>
                <div class="name-form-item">
                  <div class="name-field">
                    <a class="view-field"
                       href="https://www.wikidata.org/wiki/{{ instrument.wikidata_id }}"
                       target="_blank">{{ instrument.wikidata_id }}</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Hornbostel-Sachs Classification</th>
              <td>
                <div class="name-form-item">
                  <div class="name-field">
                    <span class="view-field">{{ instrument.hornbostel_sachs_class }}</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">MIMO Classification</th>
              <td>
                <div class="name-form-item">
                  <div class="name-field">
                    <a class="view-field"
                       href="https://vocabulary.mimo-international.com/InstrumentsKeywords/en/page/{{ mimo_class }}"
                       target="_blank">{{ instrument.mimo_class }}</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static "instruments/js/InstrumentDetail.js" %}"></script>
{% endblock scripts %}
