{% extends "base.html" %}
{% load static %}

{% block title %}
    Instrument List
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "instruments/css/index.css" %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="px-3 pt-3 me-1 sidebar-container">
                    <div class="info-block p-2 mb-3">
                        <h4>#####</h4>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <div class="collapse" id="sidebar-more-0">
                                <li class="list-group-item d-flex justify-content-between p-0">
                                    <span class="text-start">###</span>
                                    <span class="text-end">###</span>
                                </li>
                            </div>
                            <div class="toggle-more d-flex justify-content-center" data-bs-toggle="collapse" data-bs-target="#sidebar-more-0" aria-expanded="false">
                                <i class="bi bi-chevron-double-down ps-1"></i>
                            </div>
                        </ul>
                    </div>
                    <div class="info-block p-2 mb-3">
                        <h4>#####</h4>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                        </ul>
                    </div>
                    <div class="info-block p-2 mb-3">
                        <h4>#####</h4>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between p-0">
                                <span class="text-start">###</span>
                                <span class="text-end">###</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-9 pt-4 body-container">
                <h4><small>INSTRUMENT LIST</small></h4>
                <hr>
                <div class="container py-3">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3" id="masonry-grid">
                        {% for instrument in instruments %}
                        <div class="col mb-4">
                            <a href="#" class="text-decoration-none">
                                <div class="card">
                                    <img src="{{ instrument.avresource_set.first.uri }}" class="card-img-top p-2" alt="instrument image">
                                    <div class="card-body">
                                        <p class="card-text text-center">
                                            {% for instrumentname in instrument.instrumentname_set.all %}
                                                {% if instrumentname.language.en_label == "english" %}
                                                    {{ instrumentname.name|title }}
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination-container">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First" title="First">
                                    <i class="bi bi-chevron-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" title="Previous">
                                    <i class="bi bi-chevron-left"></i>
                                </a>
                            </li>
                        {% endif %}
                        
                        <li class="page-item align-self-center">
                            <span class="current p-2">
                                Page 
                                <span class="page-number">{{ page_obj.number }}</span>
                                of 
                                {{ page_obj.paginator.num_pages }}
                            </span>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next" title="Next">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last" title="Last">
                                    <i class="bi bi-chevron-double-right"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="{% static "instruments/js/masonry.js" %}"></script>
{% endblock %}