{% extends "base.html" %}
{% load static %}

{% block title %}
    Instrument List
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "instruments/index.css" %}">
{% endblock %}

{% block content %}
    {% for instrument in instruments %}
        <li>{{ instrument.id }}, 
            {% for instrumentname in instrument.instrumentname_set.all %}
                {{ instrumentname.language.en_label }}:{{ instrumentname.name }}
            {% endfor %}
            <img src="{{ instrument.avresource_set.first.uri }}">
        </li>
    {% endfor %}

{% endblock %}