{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="notranslate">
      {% block title %}
      {% endblock title %}

    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/app.css" %}" />
    {% block css_files %}
    {% endblock css_files %}

  </head>
  <body>
    <header class="p-3 sticky-top align-content-center">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav nav-underline col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
              <a href="{% url "main:home" %}"
                 class="nav-link nav-home px-2 notranslate">
                <img src="{% static "images/logo.svg" %}" alt="vim icon" />
                UMIL
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url "main:home" %}"
                 class="nav-link px-2 text-decoration-none {% if active_tab == 'home' %}active{% endif %}">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% url "instrument-list" %}"
                 class="nav-link px-2 text-decoration-none {% if active_tab == 'instruments' %}active{% endif %}">Instruments</a>
            </li>
            <li class="nav-item">
              <a href="{% url "main:about" %}"
                 class="nav-link px-2 text-decoration-none {% if active_tab == 'about' %}active{% endif %}">About</a>
            </li>
          </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search"
                   class="form-control search-input"
                   placeholder="Search..."
                   aria-label="Search" />
          </form>
          <div class="text-end d-flex">
            {% if user.is_authenticated %}
              <div class="dropdown me-2">
                <button class="btn dropdown-toggle login-btn"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ user.username }}</button>
                <ul class="dropdown-menu umil-dropdown-menu"
                    aria-labelledby="userDropdown">
                  <li>
                    <a class="dropdown-item umil-dropdown-item"
                       href="{% url 'main:change_password' %}">Change Password</a>
                  </li>
                  <li>
                    <a class="dropdown-item umil-dropdown-item"
                       href="{% url 'main:logout' %}">Log out</a>
                  </li>
                </ul>
              </div>
            {% else %}
              <a href="{% url 'main:login' %}">
                <button type="button" class="btn me-2 login-btn">Login</button>
              </a>
            {% endif %}
            <div id="google_translate_element"
                 class="d-flex align-items-center position-relative"
                 data-bs-toggle="tooltip"
                 data-bs-title="Web Page Language"
                 aria-label="Web Page Language"
                 aria-pressed="true"></div>
          </div>
        </div>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock content %}

    </main>
    <footer class="d-flex justify-content-center align-items-center py-1 border-top">
      <a href="https://ddmal.music.mcgill.ca/"
         class="my-1 mx-3 link-body-emphasis text-decoration-none">
        <img src="{% static "images/lab-logo.png" %}" alt="ddmal logo" />
      </a>
      <a href="https://linkedmusic.ca/"
         class="my-1 mx-3 pb-3 link-body-emphasis text-decoration-none">
        <img src="{% static "images/LM_LogoTransparentBlack1.png" %}" alt="linkedmusic logo" style="height: 30px;" />
      </a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="{% static "js/GoogleTranslate.js" %}"></script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="{% static "js/LanguageTooltip.js" %}"></script>
    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
