@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

html {
    font-family: 'Noto Sans', sans-serif;
}

/* header */
header {
    background-color: #9EB384;
}

.nav-home {
    color:#435334;
}

.nav-opt {
    color: #FAF1E4;
}

.nav-opt:hover,
.nav-opt:active {
    color: #435334;
}

.search-input {
    background-color: #FAF1E4;
}

.login-btn {
    color: #FAF1E4;
    border: 1px solid #FAF1E4;
}

.login-btn:hover {
    color: #435334;
    border: 1px solid #FAF1E4;
    background-color: #FAF1E4;
}

.signup-btn {
    color: #435334;
}

/* main */
main {
    background-color: #FAF1E4;
}