
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

h4 {
    color: #435334;
    font-size: 20px;
    font-weight: 700;
}

hr {
    border: 1.5px solid #435334;
    margin-top: 0;
}

/* sidebar */
.sidebar-container {
    background-color: white;
    border: 3px solid #9EB384;
    border-radius: 30px;
    height: auto !important;
}

.info-block {
    background-color: #FAF1E4;
    border: 1.5px solid #CEDEBD;
    border-radius: 10px;
    height: auto !important;
}

.list-group-item {
    border: none !important;
    background-color: transparent !important;
    color: #9EB384;
}

.toggle-more{
    color: #435334;
}

.toggle-more:hover {
    cursor: pointer;
    color: #9EB384;
}

/* content */
.content-container {
    background-color: white;
    border: 3px solid #9EB384;
    border-radius: 30px;
}

.card {
    background-color: #FAF1E4;
}

.card-text {
    color: #435334;
}

.page-link {
    color: #435334;
}

.page-link:hover {
    color: #9EB384;
}