
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

h4 {
    color: #435334;
    font-size: 20px;
    font-weight: 700;
}

h5 {
    color: #435334;
}

hr {
    border: 1.5px solid #435334;
    margin-top: 0;
}

/* sidebar */
.sidebar-container {
    background-color: white;
    border: 3px solid #9EB384;
    border-radius: 30px;
    height: auto !important;
}

.info-block {
    background-color: #FAF1E4;
    border: 1.5px solid #CEDEBD;
    border-radius: 10px;
    height: auto !important;
}

.list-group-item {
    border: none !important;
    background-color: transparent !important;
    color: #9EB384;
}

.toggle-more{
    color: #435334;
}

.toggle-more:hover {
    cursor: pointer;
    color: #9EB384;
}

/* body */
.body-container {
    background-color: white;
    border: 3px solid #9EB384;
    border-radius: 30px;
}

.display-btn {
    font-weight: bold;
    color: #435334;
    font-size: 20px;
    width: 30px;
}

.display-btn:focus {
    border-color:#435334;
}

.card {
    background-color: #FAF1E4;
}

.card-title {
    color: #435334;
}

.pagination-container {
    color: #435334;
}

.page-link {
    color: #435334;
}

.page-number,
.page-link:hover {
    color: #9EB384;
}

/* list view */
.list-item-container {
    min-height: 200px; 
    max-height: 300px;
    overflow: hidden;
}

.card-title h5:hover {
    color: #9EB384;
}

.more-info {
    color: #435334;
}

.more-info:hover {
    border: 1px solid #435334;
}

/* standard view */
.square-box {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.square-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}