@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');

h2 {
  color: #435334;
  font-size: 30px;
  font-weight: 800;
}

h4 {
  color: #435334;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

h5 {
  color: #435334;
}

hr {
  color: #435334 !important;
  margin-top: 0;
}

/* sidebar */
.sidebar-container {
  background-color: white;
  border: 3px solid #9eb384;
  border-radius: 30px;
  height: auto !important;
}

.info-block {
  background-color: #faf1e4;
  border: 1.5px solid #cedebd;
  border-radius: 10px;
  height: auto !important;
}

.list-group-item {
  border: none !important;
  background-color: transparent !important;
  color: #435334;
}

.list-group-item:hover {
  color: #9eb384;
}

.selected {
  color: #435334;
  font-weight: bold;
}

.toggle-more {
  color: #0b0f07;
}

.toggle-more:hover {
  cursor: pointer;
  color: #9eb384;
}

/* body */
.body-container {
  background-color: white;
  border: 3px solid #9eb384;
  border-radius: 30px;
}

.display-btn {
  font-weight: bold;
  color: #9eb384;
  width: 30px;
  border: none;
}

.masonry-btn {
  font-size: 20px;
}

.std-btn {
  font-size: 23px;
}

.highlighted-btn {
  color: #435334;
}

.card {
  background-color: #faf1e4;
}

.instrument-img-container:hover .instrument-img {
  opacity: 0.3;
}

.instrument-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.instrument-img-container:hover .middle-button-group {
  opacity: 1;
}

.middle-button-group {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: max-content;
}

.middle-button-group .btn {
  background-color: #435334;
  border: 1px solid #435334;
  color: white;
  font-size: 14px;
  margin-bottom: 6px;
}

.middle-button-group .btn:hover {
  background-color: #9eb384;
  border: 1px solid #9eb384;
  color: white;
}

.modal-btn {
  background-color: #435334;
  border: 1px solid #435334;
}

.modal-btn:hover {
  background-color: #9eb384;
  border: 1px solid #9eb384;
}

#instrumentNameInModal {
  font-weight: bold;
  color: #435334;
}

#previewImages {
  display: flex;
  flex-wrap: wrap;
}

#previewImages .col-3 {
  margin-bottom: 15px;
}

#previewImages img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-title {
  color: #435334;
}

.pagination-container {
  color: #435334;
}

.page-link {
  color: #435334;
}

.page-link:hover {
  color: #9eb384;
}

/* list view */
.list-item-container {
  min-height: 200px;
  max-height: 300px;
  overflow: hidden;
}

.card-title h5:hover {
  color: #9eb384;
}

.more-info {
  color: #435334;
}

.more-info:hover {
  border: 1px solid #435334;
}

/* standard view */
.square-box {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.square-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
