{% extends "base.html" %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "main/css/about.css" %}">
{% endblock %}

{% block content %}
<div class="container content-container">
  <div class="row pt-4 d-flex flex-column align-items-start justify-content-center">
    <div class="col">
      <p class="notranslate"><a href="#fr-about"><em>La version française suit.</em></a></p>
      <div>
        <h4 class="mb-4">About VIM</h4>
        <p class="my-4">
          As part of the
          <a href="https://linkedmusic.ca/">LinkedMusic</a> 
          Project, we will also create an online Universal Musical Instrument Lexicon (UMIL), which will crowd-source names and pictures of instruments through history and in different languages, improving multilingual coverage for linked data.
        </p>
        <p class="my-4">
          Building on projects like
          <a href="https://mimo-international.com/MIMO/accueil-ermes.aspx">MIMO (Musical Instrument Museums Online)</a>,
          VIM will build a special website to crowd-source the names of instruments, where pictures of instruments are displayed, and people can submit the name of the instruments in their own language. While this will be a significant undertaking, this should greatly aid in the mapping of instrument names and in searching for the same instrument across sources from different times and places. The multilingual search will be accomplished via a concept similar to a thesaurus, and each instrument will be represented by a URI. This URI will link all the names of the instrument together, and this system will also be used to display the search results in the user’s preferred language when using SESEMMI (Search Engine System for Enhancing Music Metadata Interoperability).
        </p>
        <p class="mt-4 mb-1">
          Useful links:
          <ul>
            <li>
              <a href="https://linkedmusic.ca/omid/">A list of online databases</a>
              either about musical instruments or with musical instrument sections.
            </li>
            <li>
              <a href="https://linkedmusic.ca/pdfs/VIM%20Potential%20Templates.pdf">Potential UMIL Website Templates</a>
              (based on photography, museum and shopping websites).
            </li>
          </ul>
        </p>
      </div>
      
      <hr>
      
      <div class="notranslate">
        <h4 class="mb-4" id="fr-about">À propos de VIM</h4>
        <p class="my-4">
          Dans le cadre du
          <a href="https://linkedmusic.ca/">LinkedMusic</a> 
          Project, nous créerons également un Lexique universel des instruments de musique (UMIL) qui sollicitera les noms et les images des instruments à travers l'histoire et dans différentes langues, améliorant ainsi la couverture multilingue des données liées.
        </p>
        <p class="my-4">
          S'appuyant sur des projets tels que
          <a href="https://mimo-international.com/MIMO/accueil-ermes.aspx">MIMO (Musical Instrument Museums Online)</a>,
          VIM construira un site Web spécial pour solliciter les noms des instruments, où les images des instruments sont affichées, et les gens peuvent soumettre le nom des instruments dans leur propre langue. Bien que cela représente un effort significatif, cela devrait grandement contribuer à la cartographie des noms d'instruments et à la recherche du même instrument dans des sources de différentes époques et de différents endroits. La recherche multilingue sera réalisée au moyen d'un concept similaire à un thésaurus, et chaque instrument sera représenté par un URI. Cet URI liera tous les noms de l'instrument ensemble, et ce système sera également utilisé pour afficher les résultats de la recherche dans la langue préférée de l'utilisateur lors de l'utilisation de SESEMMI (Système de recherche pour l'amélioration de l'interopérabilité des métadonnées musicales).
        </p>
        <p class="mt-4 mb-1">
          Liens pratiques:
          <ul>
            <li>
              <a href="https://linkedmusic.ca/omid/">Une liste de bases de données en ligne</a>
              concernant les instruments de musique ou contenant des sections sur les instruments de musique.
            </li>
            <li>
              <a href="https://linkedmusic.ca/pdfs/VIM%20Potential%20Templates.pdf">Des modèles potentiels de sites Web UMIL</a>
              (basés sur des sites de photographie, de musées et de vente en ligne).
            </li>
          </ul>
        </p>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}