{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
VIM
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "main/css/index.css" %}">
{% endblock %}

{% block content %}
<div class="container content-container d-flex align-items-center">
  <div>
    <div class="row">
      <div class="col-6">
        <h1 class="">
          {% trans "<span style='color: #9EB384;'>Virtual</span> Instrument <br>Museum" %}
        </h1>
      </div>
      <div class="col-6">
        <h1>
          Musée <span style='color: #9EB384;'>Virtuel</span> des Instruments
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p>
          {% trans "Where the past and present of music collide. <br>Explore, share, connect instruments in every language." %}
        </p>
      </div>
      <div class="col-6">
        <p>
          Où le passé et le présent de la musique se rencontrent. Explorez, partagez, connectez des instruments dans toutes les langues.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <a href="{% url "instrument-list" %}">
          <button class="btn btn-warning start-btn">{% trans "Get Started" %}</button>
        </a>
      </div>
      <div class="col-6">
        <a href="{% url "instrument-list" %}">
          <button class="btn btn-warning start-btn">Commencer</button>
        </a>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}

{% block script %}
{% endblock %}