{% extends "base.html" %}

{% load static %}

{% block title %}
  UMIL
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "main/css/index.css" %}" />
{% endblock css_files %}

{% block content %}
  <div class="container content-container d-flex align-items-center justify-content-center">
    <div class="z-2">
      <div class="row">
        <div class="col-6">
          <h1>
            <span style="color: #876445;">Universal</span> Musical Instrument Lexicon
          </h1>
        </div>
        <div class="col-6 notranslate">
          <h1>
            Lexique <span style="color: #876445;">Universel</span> des Instruments de Musique
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            Where the past and present of music collide.
            <br />
            Explore, share, connect musical instruments in every language.
          </p>
        </div>
        <div class="col-6 notranslate">
          <p>
            Où le passé et le présent de la musique se rencontrent. Explorez, partagez, connectez des instruments de musique dans toutes les langues.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="{% url "instrument-list" %}">
            <button class="btn btn-warning rounded-pill start-btn">Get Started</button>
          </a>
        </div>
        <div class="col-6 notranslate">
          <a href="{% url "instrument-list" %}?language=french">
            <button class="btn btn-warning rounded-pill start-btn">Commencer</button>
          </a>
        </div>
      </div>
    </div>
    <img id="bg-decor" src="{% static "main/images/bg-decor.svg" %}" alt="background decoration" class="z-1" />
  </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
