{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
VIM
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "main/css/index.css" %}">
{% endblock %}

{% block content %}
<div class="container content-container">
  <div class="row d-flex flex-column align-items-start justify-content-center h-100">
    <div class="col-6">
      <h1>
        {% trans "<span style='color: #9EB384;'>Virtual</span> Instrument Museum" %}
      </h1>
      <p>
        {% trans "Where the past and present of music collide. Explore, share, connect instruments in every language." %}
      </p>
      <a href="{% url "instrument-list" %}">
        <button class="btn btn-warning start-btn">{% trans "Get Started" %}</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}