{% load static %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4"
     id="masonry-view">
  {% for instrument in instruments %}
    <div class="col">
      <a href="{% url 'instrument-detail' instrument.pk %}"
         class="text-decoration-none"
         target="_blank">
        <div class="card mb-3">
          <img src="{{ instrument.thumbnail.url }}" class="card-img-top rounded p-2" alt="instrument thumbnail" onerror="this.onerror=null;this.src='{% static "instruments/images/no-image.svg" %}';" />
          <div class="card-body pb-0 pt-0">
            <p class="card-title text-center notranslate ">
              {% for instrumentname in instrument.instrumentname_set.all %}
                {% if instrumentname.language.en_label == active_language.en_label %}
                  {{ instrumentname.name|title }}
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
