{% load static %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4"
     id="std-view"
     style="display:none">
  {% for instrument in instruments %}
    <div class="col">
      <div class="text-decoration-none">
        <div class="card mb-3">
          <div class="square-box">
            {% include "instruments/includes/instrumentContainer.html" %}

          </div>
          <div class="card-body pb-0 pt-0">
            <p class="card-title text-center notranslate">
              {{ instrument.instrumentname_set.all.first.name|title }}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
