@keyframes settleDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0.2;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.content-container {
  height: 80vh;
  position: relative;
}

#bg-decor {
  position: absolute;
  bottom: 0;
  animation: fadeInUp 0.7s ease-in-out 0s forwards;
}

.content-container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  animation: settleDown 0.7s ease-in-out 0s forwards;
  color: #435334;
}

.content-container p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #435334;
}

.start-btn {
  font-family: 'Noto Sans', sans-serif;
}

.start-btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #435334;
  cursor: pointer;
}

.start-btn:hover {
  color: #435334;
  animation: pulse 0.5s both;
}
