.content-container {
  height: 80vh;
  width: 80vw;
}

.login-container {
  background-color: white;
  border: 3px solid #9eb384;
  border-radius: 30px;
  height: auto !important;
  position: relative;
}

.message-container {
  position: absolute;
  top: 10px;
}

.login-form {
  color: #435334;
}

#signup-decor {
  height: 20vh;
}

#signup-option-separator {
  border-left: 2px solid rgb(232 232 232);
}

input {
  border: 1px solid #9eb384;
  border-radius: 4px;
  background-color: #faf1e4;
  padding: 5px;
  color: #435334;
  width: 80%;
}

input:hover {
  border: 1px solid #435334;
  background-color: #faf1e4;
  color: #435334;
}

input:focus {
  border: 1px solid #435334;
  box-shadow: 0 0 5px #9eb384;
  outline: none;
}

input::placeholder {
  color: #9eb384;
}

.sign-in-btn {
  background-color: #435334;
  border: 1px solid #435334;
}

.sign-in-btn:hover {
  background-color: #9eb384;
  border: 1px solid #9eb384;
}

p {
  color: #435334;
}

a {
  color: #435334;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #9eb384;
  text-decoration: none;
  font-weight: bold;
}

.errorlist {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0 0.5rem;
}
