.login-form {
  color: #435334;
}

input {
  border: 1px solid #9eb384;
  border-radius: 4px;
  background-color: #faf1e4;
  padding: 5px;
  color: #435334;
  margin: 0 10px;
}

input:hover {
  border: 1px solid #435334;
  background-color: #faf1e4;
  color: #435334;
}

input:focus {
  border: 1px solid #435334;
  box-shadow: 0 0 5px #9eb384;
  outline: none;
}

input::placeholder {
  color: #9eb384;
}

.btn-primary {
  background-color: #435334;
  border: 1px solid #435334;
}

.btn-primary:hover {
  background-color: #9eb384;
  border: 1px solid #9eb384;
}

p {
  color: #435334;
}

a {
  color: #435334;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #9eb384;
  text-decoration: none;
  font-weight: bold;
}

.errorlist {
  color: red;
}
